use rullst::island;

#[cfg(target_arch = "wasm32")]
use wasm_bindgen::{closure::Closure, JsCast};

#[derive(Debug, Clone, serde::Serialize, serde::Deserialize)]
pub struct __TYPE_NAME__Props {
    pub initial_value: i32,
}

#[island]
pub fn __MODULE_NAME__(props: __TYPE_NAME__Props) {
    #[cfg(not(target_arch = "wasm32"))]
    {
        format!(
            "<button type=\"button\" data-counter=\"{}\">Count: {}</button>",
            props.initial_value, props.initial_value
        )
    }

    #[cfg(target_arch = "wasm32")]
    {
        let mut value = props.initial_value;
        element.set_text_content(Some(&format!("Count: {value}")));

        let button = element.clone();
        let closure = Closure::<dyn FnMut()>::new(move || {
            value = value.saturating_add(1);
            button.set_text_content(Some(&format!("Count: {value}")));
        });

        if element
            .add_event_listener_with_callback("click", closure.as_ref().unchecked_ref())
            .is_ok()
        {
            closure.forget();
        }

        String::new()
    }
}
